/*----- Normalize CSS -----*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #1c2b4f;
    font-weight: 400;
    background-color: #4c4fa9;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #1c2b4f;
    font-weight: 400;
}
h1 {
  font-size: 75px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #dc0082;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
}
a{
    color: #1c2b4f;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover,
a:focus{
    color: #ffffff;
    text-decoration: none;
}
.button {
    background: #FFFFFF;
    padding: 18px 35px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
    color: #4c4fa9;
    border: 0;
    border-radius: 5px;
    line-height: 1;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.button:hover,
.button:focus {
    color: #4c4fa9;
}
ul,
ol {
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
/*----- Normalize CSS END -----*/

html,
body {
    height: 100%;
}
.wrapper {
    height: 100%;
    background: url('../images/body-bg-1.png') no-repeat center bottom;
    background-size: auto;
    position: relative;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.outer_glow {
    box-shadow: 0 0 15rem 7rem rgba(255,255,255,0.6);
    z-index: -1;
    top: 35%;
    position: relative;
    left: -4%;
}
.contact_link a {
    vertical-align: top;
}
.content_block {
    width: 585px;
}
.content_block * {
    color: #FFF;
}
.content_block h1 {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #FFF;
}
.content_block h2 {
    margin-bottom: 20px;
}
.content_block p {
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.content_block ul li + li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #FFF;
    margin-right: 0;
    line-height: 1;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.website_footer p {
    font-size: 14px;
    color: #4c4fa9;
    font-weight: 300;
}


/*----- Responsive -----*/
@media(max-width: 1439px) {
    .wrapper {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
    }
}
@media(max-width: 1365px) {
    .wrapper {
        padding-left: 80px;
        padding-right: 80px;
    }
    .outer_glow {
        box-shadow: 0 0 12rem 5rem rgba(255,255,255,0.6);
        top: 35%;
        left: 15%;
    }
}
@media(max-width: 1199px) {
    body, p {
        font-size: 16px;
    }
    h1{
        font-size: 55px;
    }
    h2 {
        font-size: 35px;
    }
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        background-size: 150% auto;
    }
    .content_block {
        width: auto;
    }
    .content_block h2 {
        margin-bottom: 15px;
        font-size: 35px;
    }
    .content_block h1 {
        padding-bottom: 30px;
        margin-bottom: 35px;
        font-size: 55px;
    }
    .content_block p {
        margin-bottom: 25px;
    }
}

@media(max-width: 991px) {
    body, p {
        font-weight: 300;
    }
    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-size: 100% auto;
    }
    .web_logo img {
        width: 80px;
    }
    .button {
        padding: 15px 30px;
        font-size: 14px;
    }
    .content_block h2 {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 300;
    }
    .content_block h1 {
        font-size: 28px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .content_block p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .content_block ul {
        font-size: 14px;
    }
    .outer_glow {
        box-shadow: 0 0 8rem 3rem rgba(255,255,255,0.6);
        top: 35%;
        left: 0;
    }
    .button {
        padding: 14px 25px;
        font-size: 12px;
    }
}

@media(width: 768px) {
    .wrapper {
        background: url('../images/mobile-body-bg.png') no-repeat center bottom;
        background-size: 110% auto;
        position: relative;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        padding-top: 50px;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .website_header {
        margin-bottom: 100px;
    }
    .content_block {
        text-align: center;
    }
    .website_footer p {
        text-align: center;
    }
    .content_block h1 {
        font-size: 38px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        font-weight: 400;
    }
    .content_block h2 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .content_block p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .content_block ul {
        font-size: 18px;
    }
    .glow_effect {
        position: relative;
    }
    .website_footer {
        position: absolute;
        bottom: 12px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .outer_glow {
        top: 200px;
        margin: 0 auto;
        left: auto;
    }
}

@media(max-width: 767px) {
    .content_block ul li + li {
        margin-left: 15px;
        padding-left: 15px;
    }
}

@media(max-width: 479px) {
    html,
    body {
        height: 100%;
    }
    .wrapper {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        background: url('../images/mobile-body-bg.png') no-repeat center bottom;
        background-size: 130% auto;
        position: relative;
        height: 100%;
    }
    .website_header {
        margin-bottom: 65px;
    }
    .content_block {
        text-align: center;
    }
    .content_block h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .content_block h1 {
        font-size: 35px;
        padding-bottom: 25px;
        margin-bottom: 30px;
    }
    .content_block p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .content_block ul {
        font-size: 14px;
    }
    .website_footer {
        position: absolute;
        bottom: 12px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .website_footer p {
        font-size: 12px;
    }
    .outer_glow {
        box-shadow: 0 0 8rem 3rem rgba(255,255,255,0.6);
        top: auto;
        left: 0;
        position: fixed;
        width: 1px;
        height: 1px;
        margin: 0 auto;
        right: 0;
        bottom: 24%;
    }
    .button {
        padding: 12px 20px;
        font-size: 12px;
    }
    .web_logo img {
        width: 85px;
    }
}

@media only screen and (max-width: 567px) and (prefers-color-scheme: light) {
    .button {
        background: #FFFFFF;
        padding: 12px 20px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-size: 12px;
        position: relative;
        color: #4c4fa9;
        border: 0;
        border-radius: 5px;
        line-height: 1;
        overflow: hidden;
        display: inline-block;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}
@media only screen and (max-width: 567px) and (prefers-color-scheme: dark) {
    .button {
        background: #000;
        padding: 12px 20px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-size: 12px;
        position: relative;
        color: #fff;
        border: 0;
        border-radius: 5px;
        line-height: 1;
        overflow: hidden;
        display: inline-block;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}